<div class="card mb-5 mb-xl-10">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Add Product Details</h3>
      </div>
    </div>
    <div id="kt_account_profile_details" class="collapse show">
      <form novalidate="" class="form"  [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="card-body border-top p-9">
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              > Name</label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Name"
                name="name"
                formControlName="name" 
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">Description</span></label
            >
            <div class="col-lg-8 fv-row">
              <textarea
                type="tel"
                class="form-control form-control-lg form-control-solid"
                placeholder="Description..."
                name="description"
                formControlName="description" 
              ></textarea>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">Price</span></label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Price"
                name="price"
                formControlName="price" 
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">Category</span></label
            >
            <div class="col-lg-8 fv-row">
              <select
                class="form-select form-select-solid form-select-lg fw-bold"
                name="category"
                formControlName="category" 
              >
              <option value="">Select a Category...</option>
              <option value="Medications">Medications</option>
              <option value="Medical Devices">Medical Devices</option>
              <option value="Personal Protective Equipment (PPE)">Personal Protective Equipment (PPE)</option>
              <option value="Diagnostic Equipment">Diagnostic Equipment</option>
              <option value="Dental Supplies">Dental Supplies</option>
              <option value="Rehabilitation Equipment">Rehabilitation Equipment</option>
              <option value="Surgical Instruments">Surgical Instruments</option>
              <option value="Hospital Furniture">Hospital Furniture</option>
              <option value="Laboratory Supplies">Laboratory Supplies</option>
              <option value="Emergency Response Supplies">Emergency Response Supplies</option>
              <option value="Health Monitoring Devices">Health Monitoring Devices</option>
              <option value="Healthcare IT Solutions">Healthcare IT Solutions</option>
              <option value="Home Healthcare Products">Home Healthcare Products</option>
              <option value="Nutritional Supplements">Nutritional Supplements</option>
              <option value="Pharmaceuticals">Pharmaceuticals</option>
              
              </select>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">Manufacturer</span></label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Manufacturer"
                name="manufacturer"
                formControlName="manufacturer" 
              />
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">Stock Quantity</span></label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Stock Quantity"
                name="stockQuantity"
                formControlName="stockQuantity" 
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              >Expiry Date</label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="date"
                class="form-control form-control-lg form-control-solid"
                name="expiryDate"
                formControlName="expiryDate" 
              />
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="isLoading || productForm.invalid"
            (click)="saveProduct()"
          >
            <ng-container *ngIf="!isLoading">Save Changes</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </div>
  