<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form"  [formGroup]="registrationForm"   (ngSubmit)="submit()">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Full Name</label
          >
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0
                  "
                  placeholder="First name"
                  name="fName"
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.controls['firstName'].invalid &&
                      (registrationForm.controls['firstName'].touched ||
                        registrationForm.controls['firstName'].dirty),
                    'is-valid': registrationForm.controls['firstName'].valid
                  }"
                />
                <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'FirstName is required',
                  control: registrationForm.controls['firstName']
                }"
              ></ng-container>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'maxLength',
                  message: 'FirstName should have a maximum of 100 symbols',
                  control: registrationForm.controls['firstName']
                }"
              ></ng-container>
              </div>
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Last name"
                  name="lName"
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.controls['lastName'].invalid &&
                      (registrationForm.controls['lastName'].touched ||
                        registrationForm.controls['lastName'].dirty),
                    'is-valid': registrationForm.controls['lastName'].valid
                  }"
                />
                <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'LastName is required',
                  control: registrationForm.controls['lastName']
                }"
              ></ng-container>
              <ng-container
                [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{
                  validation: 'maxLength',
                  message: 'SecondName should have a maximum of 100 symbols',
                  control: registrationForm.controls['lastName']
                }"
              ></ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >PhoneNumber</label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="phoneNumber"
              formControlName="phoneNumber"
              placeholder="PhoneNumber"
              autocomplete="off"
              [ngClass]="{
                'is-invalid':
                  registrationForm.controls['phoneNumber'].invalid &&
                  (registrationForm.controls['phoneNumber'].touched ||
                    registrationForm.controls['phoneNumber'].dirty),
                'is-valid': registrationForm.controls['phoneNumber'].valid
              }"
            />
            <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'PhoneNumber is required',
                    control: registrationForm.controls['phoneNumber']
                  }"
                ></ng-container>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Company Name</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="tel"
              class="form-control form-control-lg form-control-solid"
              name="companyName"
              formControlName="companyName"
              placeholder="Company Name"
              autocomplete="off"
              [ngClass]="{
                'is-invalid':
                  registrationForm.controls['companyName'].invalid &&
                  (registrationForm.controls['companyName'].touched ||
                    registrationForm.controls['companyName'].dirty),
                'is-valid': registrationForm.controls['companyName'].valid
              }"
            />
            <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'CompanyName is required',
                    control: registrationForm.controls['companyName']
                  }"
                ></ng-container>
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'maxLength',
                    message: 'CompanyName should have a maximum of 100 symbols',
                    control: registrationForm.controls['companyName']
                  }"
                ></ng-container>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Category</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="category"
                  formControlName="category"
                  placeholder="Category"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.controls['category'].invalid &&
                      (registrationForm.controls['category'].touched ||
                        registrationForm.controls['category'].dirty),
                    'is-valid': registrationForm.controls['category'].valid
                  }"
            />
            <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'Category is required',
                    control: registrationForm.controls['category']
                  }"
                ></ng-container>
                <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'maxLength',
                    message: 'Category should have a maximum of 100 symbols',
                    control: registrationForm.controls['category']
                  }"
                ></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Company Size</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="companySize"
              formControlName="companySize"
              placeholder="Company Size"
              autocomplete="off"
              [ngClass]="{
                'is-invalid':
                  registrationForm.controls['companySize'].invalid &&
                  (registrationForm.controls['companySize'].touched ||
                    registrationForm.controls['companySize'].dirty),
                'is-valid': registrationForm.controls['companySize'].valid
              }"
            />
            <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'CompanySize is required',
                    control: registrationForm.controls['companySize']
                  }"
                ></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Business Number</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="businessNumber"
                  formControlName="businessNumber"
                  placeholder="Business Number"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.controls['businessNumber'].invalid &&
                      (registrationForm.controls['businessNumber'].touched ||
                        registrationForm.controls['businessNumber'].dirty),
                    'is-valid': registrationForm.controls['businessNumber'].valid
                  }"
            />
            <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'BusinessNumber is required',
              control: registrationForm.controls['businessNumber']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message:
                'BusinessNumber should have a maximum of 100 symbols',
              control: registrationForm.controls['businessNumber']
            }"
          ></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Street Address</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="streetAddress"
                  formControlName="streetAddress"
                  placeholder="Street Address"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.controls['streetAddress'].invalid &&
                      (registrationForm.controls['streetAddress'].touched ||
                        registrationForm.controls['streetAddress'].dirty),
                    'is-valid': registrationForm.controls['streetAddress'].valid
                  }"
            />
            <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'StreetAddress is required',
              control: registrationForm.controls['streetAddress']
            }"
          ></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Country</span></label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              name="country"
                  formControlName="country"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.controls['country'].invalid &&
                      (registrationForm.controls['country'].touched ||
                        registrationForm.controls['country'].dirty),
                    'is-valid': registrationForm.controls['country'].valid
                  }"
                >
                  <option value="" disabled selected>Select Country</option>
                  <option
                    *ngFor="let country of countries"
                    [value]="country.name"
                  >
                    {{ country.name }}
                  </option>
            </select>
            <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Country is required',
              control: registrationForm.controls['country']
            }"
          ></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">State/Province</span></label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              name="state"
              formControlName="state"
              [ngClass]="{
                'is-invalid':
                  registrationForm.controls['state'].invalid &&
                  (registrationForm.controls['state'].touched ||
                    registrationForm.controls['state'].dirty),
                'is-valid': registrationForm.controls['state'].valid
              }"
            >
              <option value="" disabled selected>
                Select State/Province
              </option>
              <ng-container
                *ngIf="
                  registrationForm.get('country')!.value;
                  let selectedCountry
                "
              >
                <option
                  *ngFor="let state of getCountriesStates(selectedCountry)"
                  [value]="state.state"
                >
                  {{ state.state }}
                </option>
              </ng-container>
            </select>
            <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'State/Province is required',
              control: registrationForm.controls['state']
            }"></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">City</span></label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              name="city"
              formControlName="city"
              [ngClass]="{
                'is-invalid':
                  registrationForm.controls['city'].invalid &&
                  (registrationForm.controls['city'].touched ||
                    registrationForm.controls['city'].dirty),
                'is-valid': registrationForm.controls['city'].valid
              }"
            >
              <option value="" disabled selected>Select City</option>
              <ng-container *ngIf="registrationForm.get('state')!.value">
                <option
                  *ngFor="
                    let city of getStatesCities(
                      registrationForm.get('country')!.value,
                      registrationForm.get('state')!.value
                    )
                  "
                  [value]="city"
                >
                  {{ city }}
                </option>
              </ng-container>
            </select>
            <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'City is required',
                    control: registrationForm.controls['city']
                  }"
                ></ng-container>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Postal Code</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="postalCode"
              formControlName="postalCode"
              placeholder="Postal Code"
              autocomplete="off"
              oninput="this.value = this.value.toUpperCase()"
              [ngClass]="{
                'is-invalid':
                  registrationForm.controls['postalCode'].invalid &&
                  (registrationForm.controls['postalCode'].touched ||
                    registrationForm.controls['postalCode'].dirty),
                'is-valid': registrationForm.controls['postalCode'].valid
              }"
            />
            <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: registrationForm.controls['postalCode'].errors
                ?.pattern
                ? 'pattern'
                : 'required',
              message: registrationForm.controls['postalCode'].errors?.pattern
                ? 'PostalCode does not match the expected format'
                : 'PostalCode is required',
              control: registrationForm.controls['postalCode']
            }"
          ></ng-container>
          </div>
        </div>

      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="isLoading || registrationForm.invalid " >
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
    <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
  >
    <ng-container
      *ngIf="
        control.hasError(validation) && (control.dirty || control.touched)
      "
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert">
            {{ message }}
          </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
  </div>
</div>
